- !<AssetImportMetadata/da5284ce-5d58-43e1-877e-c3da7592de5b>
  ImportedAssetIds:
    BinAsset: !<reference> 7d7105cc-5c65-42d5-8946-708ad979ccd1
  ImporterName: BinAssetImporter
  PrimaryAsset: !<reference> 7d7105cc-5c65-42d5-8946-708ad979ccd1
  PackageType: NotAPackage
  LegacyPackagePolicy: ~
  ExtraData:
    {}
  AssetDataMap:
    {}
  DependentFiles:
    []
  ImporterSettings: !<AssetImporterSettings>
    {}
  CompressionSettings: !<own> 00000000-0000-0000-0000-000000000000
