- !<AssetImportMetadata/b4a30c33-68a0-427d-8db5-55c74ea0fac1>
  ImportedAssetIds:
    BinAsset: !<reference> 2230380d-6654-4ea3-ad05-e58f4322a127
  ImporterName: BinAssetImporter
  PrimaryAsset: !<reference> 2230380d-6654-4ea3-ad05-e58f4322a127
  PackageType: NotAPackage
  LegacyPackagePolicy: ~
  ExtraData:
    {}
  AssetDataMap:
    {}
  DependentFiles:
    []
  ImporterSettings: !<AssetImporterSettings>
    {}
  CompressionSettings: !<own> 00000000-0000-0000-0000-000000000000
