- !<AssetImportMetadata/b7cbc8bc-4394-471d-8ece-16c049c9d82d>
  ImportedAssetIds:
    BinAsset: !<reference> bca56345-f446-4f24-8266-2d80713f0966
  ImporterName: BinAssetImporter
  PrimaryAsset: !<reference> bca56345-f446-4f24-8266-2d80713f0966
  PackageType: NotAPackage
  LegacyPackagePolicy: ~
  ExtraData:
    {}
  AssetDataMap:
    {}
  DependentFiles:
    []
  ImporterSettings: !<AssetImporterSettings>
    {}
  CompressionSettings: !<own> 00000000-0000-0000-0000-000000000000
